@import url(styles/header.css);
@import url(styles/banner.css);

:root{
    --cor-de-fundo:#f3f2ae;
    --branco:#cf9221;
    --amarelo:#f2f5f2;
    --roxo:#f0ede9;
    --fonte-principal: "chapaza";
    

}

body{
    background-color:var(--cor-de-fundo);
font-family: var(--lobster);
font-size: 16px;
font-weight: 400;
}
